<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteQA">
  <test thread-count="5" name="Test">
    <classes>
      <!--class name="ultimateQa.HomePage"-->
      <class name="ultimateQaTestClass.LoginTest"/>
      <class name="ultimateQaTestClass.RegisterTest"/>
      <class name="ultimateQaTestClass.AddToCartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SuiteQA -->
